<html>
    <body>
        <h1>{{ artist.artist_name }}</h1>
        <h2>Albums</h2>
        <table id="albums" style="width:50%">
            {% if album %}
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Release Year</th>
            </tr>

            {% for row in album %}
            <tr>
                <td><a href="/albuminfo?album_id={{row.album_id}}">{{ row.album_title }}</a></td>
                <td>{{ row.album_genre }}</td>
                <td>{{ row.album_release_year }}</td>
            </tr>

            {% endfor %}
            {% else %}
            No Albums
            {% endif %}
        </table>
        <h2>Songs</h2>
        <table id="songs" style="width:50%">
            {% if song %}
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Release Year</th>
                <th>Album</th>
            </tr>

            {% for row in song %}
            <tr>
                <td><a href="/songinfo?song_id={{row.song_id}}">{{ row.song_title }}</a></td>
                <td>{{ row.song_genre }}</td>
                <td>{{ row.song_release_year }}</td>
                <td>{{ row.album_title }}</td>
            </tr>

            {% endfor %}
            {% else %}
            No Songs
            {% endif %}
        </table>
    </body>
</html>