<html>
    <body>
        <h1>{{user.username}}'s List</h1>
        
        <a href="/edituser">Edit Information</a>
        <a href="/editlist?user_id={{user.user_id}}">Edit List</a>
        
        <table id="results" style="width:50%">
        
            {% if result %}
            <tr>
                <th>Song</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Note</th>
                <th>Date Added</th>
            </tr>

            {% for row in result %}
            <tr>
                <td><a href="/songinfo?song_info={{row.song_id}}">{{ row.song_title }}</a></td>
                <td>{{ row.name }}</td>
                <td>{{ row.album_name }}</td>
                <td>{{ row.note }}</td>
                <td>{{ row.date_added }}</td>
            </tr>

            {% endfor %}
            {% endif %}
        </table>
       
           
    </body>
</html>